#landingContainer
{
    height: 100%;
    background-color: #d0d0d0;
}

#landingBox
{
    height: 40%;
    width: 70%;
    margin: auto;
    position: relative;
    top: -25%;
    text-align: center;
    background-color: #ffffff;
}

#monthlyText
{
    height: 20%;
}

#monthlyText p
{
    position: relative;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#sliderContainer
{
    height: 50%;
    width: 90%;
    margin: 0 auto;
    background-color: #d0d0d0;
}

#sliderContent
{
    position: relative;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#emailContainer
{
    height: 30%;
    margin: auto;
}

#emailContent
{
    height: 50%;
    position: relative;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#buttonContent
{  
    height: 50%;
    position: relative;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.div-with-bg
{
    height: 70%;
    position: relative;
}

.image
{
    height: 100%;
    width: 100%;
    z-index: 1;
    background: url('./images/landing-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center 0;
    /* filter: grayscale(50%); */
    filter: brightness(75%);
    opacity: 0.75;
}

.text
{
    top: 0%;
    z-index: 2;
    position: absolute;
}

.savings-title
{
    color: #ffffff;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 3em;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding: 5%;
}

.savings-subtitle
{
    color: #ffffff;
    text-align: center;
    font-size: 2.5em;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}